body, h1, form, label, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #edac003d;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #0b0000;
    border-radius: 5px;
    padding: 13px 0px 14px 4px;
    background-color: unset;
}

input[type="email"] {
    width: 100%;
    border: 1px solid #0b0000;
    border-radius: 5px;
    padding: 13px 0px 14px 4px;
    background-color: unset;
}

input[type="number"] {
    width: 100%;
    border: 1px solid #0b0000;
    border-radius: 5px;
    padding: 13px 0px 14px 4px;
    background-color: unset;
}

button.checkout-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}


#form .error {
    color: red;
    font-size: 14px;
  }

  #form .valid{
    color: rgb(36, 105, 4);
    font-size: 14px;
    background-color: unset;
  }