@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.menubtn {
    display: none;
}
/*****************************************************************************/
@media (max-width:761px) {

    main .container{
        display: block;
        padding: 1px;
    }

    .nePasAficherOnMobile{
        display:none;
    }


    .menubtn{
        display: block;
      }


      .navfooter{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }
    
.navfooter{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.navf{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    position: absolute;
    right: 10px;
    height: 102px;
}


.navfooter .enteremail{
    width: 22em;
    border-top: none;
    border-left: none;
    border-right:none;
    position: absolute;
    right: 100px;
    top: 74px;
    background-color: #b7adad89;

}


    
}
/***********************************************************************************/
nav {
    background-color: white;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 400px;
    width: 250px;
    z-index: 999;
    background-color: rgb(243, 220, 197);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    transform: scale(1.1);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerimgDROIT {
    flex: 1;
}

.imgDacceuil img {
    max-width: 100%;
    height: auto;
    
}

.Images {
    display: flex;
    margin-top: 20px;
}

.sousImage {
    flex: 1;
    margin-right: 10px;
}

.sousImage img {
    max-width: 100%;
    height: auto;
}

.contenudroit {
    flex: 1;
    background-color: #f3cd9a40;
    padding: 0 25px;

}

.ProdName {
    font-size: 24px;
    
}

.Etoils {
    color: #FFD700;
    font-size: 20px;
    margin-top: 10px;
}

.prix {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 18px;
    margin-top: 20px;
}

.paragdescr {
    font-size: 16px;
    margin-top: 10px;
}

select#colores {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    width: 100px;
}

.Quantity {
    margin-top: 10px;
}

input[type="number"] {
    padding: 0 15px;
    font-size: 10px;
    margin: 12px 0;
    width: 100px;
    border: solid #333;

}

.btn-addToCart {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #1c8c0f;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


footer{
    width: 100%;
    height: 10em;
    position: relative;
}

input[type=text], select {
    width: 30em;
    display: flex;
    border: 1.8px solid #000000;
    border-top: none;
    border-left: none;
    border-right:none;
    
}


.navfooter{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;

}

.navfooter .navf a{
justify-content: space-between;
text-decoration: none;
padding: 0px 20px;
color: #707070;
}

.navfooter .enteremail{
    display: flex;
    width: 22em;
    border-top: none;
    border-left: none;
    border-right:none;
    position: absolute;
    right: 10px;

}