@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.iconmenu i{
    display: none;
}

.icmenu{
    display:none;
}



/*--------------------------------media query-----------------------------------------------------*/
@media (max-width:661px) {

    body header{
        display: flex;
        flex-direction: column;
        background-color:rgb(255, 255, 255);
        width: 100%;
        padding:0px 18px;
        z-index: 999;
        position: fixed;
        height: 270px;
        display: flex;
        justify-content: space-between;
      
    }

    header .cont{
        height: 300px;
    }

    


    #menu:checked ~ .cont-log-nav {
        display: block;
        height: 243px;
        flex-direction: ;
    }
    

    main .hero{
        width: 100%;
        height: 423px;
        background-image:url(images/Img01.png);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        position: relative;
    }

    label .fa-solid, .fa-bars{
font-size: 30px;
margin-top: 5px;
    }

    main .hero .titrehero{
        margin-top: 8em;
        color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 6em;
    padding: 20px;
    }

    .tirialt6{
        display: none;
    }

    .cards{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cards img{
        background-color: rgb(255, 255, 255);
        margin: 10px;
        width: 100%   ;
        height: auto;
        border-radius: 16px;
        margin-right: 10px;
        padding-right: 20px;
    }

    .card{
        width: 100%;
        height: auto;
    }

    .cont{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #A18A68;
        height: auto;
        color: #000000;
        width: 100%;
    }

    header .logo{
        width:100%;
        height: 40px;
        overflow-x:  hidden;
        display: flex;
        justify-content: space-between;
        }

    header .naviga{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 12px 0px;
    }
    
    header .naviga a{
        margin: 0px -19px;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        color: #000000;
        padding: 10px 0px;
    }

    header .tiricons{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        justify-content: space-around;
        width: 100%;
    }
    
.tiricons i{
    margin: 0px 30px;
}
.tiricons img{
    height: 20px;
    width: 20px;
    margin-bottom: -3px;
    color: #FFFFFF;
}
.navbar{
    margin-left: 35px;
    color: #FFFFFF;
}

.navbar a{
    margin-left: 35px;
    color: #FFFFFF;
}


.navfooter{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.navf{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    position: absolute;
    right: 10px;
}


.iconmenu i{
    display: block;
}

.cont-log-nav .logo .icmenu{
    display:none;
}


}
/*--------------------------------media query--------------------------------------------------*/






header{
    background-color:rgb(255, 255, 255);
    width: 100%;
    padding:0px 18px;
    z-index: 999;
    position: fixed;
    height: 50px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
  
}

/* cont =contenu de header*/
.cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 2px;
}



.logo{
width:200px;
height: 40px;
overflow: hidden;
}

.naviga{
    width: 30em;
    display: flex;
    justify-content: space-between;
}

.naviga a{
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    width: 100%;
}

.tiricons i{
    margin: 0px 30px;
}
.tiricons img{
    height: 20px;
    width: 20px;
    margin-bottom: -3px;
}
.navbar{
    margin-left: 35px;
}


.hero{
    
    width: 100%;
    height: 646px;
    background-image:url(images/Img01.png);
    background-size: 99%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    position: relative;
    

}

.card{
    width: auto;
    height: auto;
}



.contenuhero{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.hero .titrehero{
color: #FFFFFF;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:20px;
margin-top: 12em;
padding: 20px;
}

.hero .prixhero{
    color: white;
    margin-bottom:55px;
    padding-left: 20px;
    font-size:24px;
}

.hero .view{
    width: 143px;
    height: 43px;
    text-decoration: none;
    margin-left: 1em;
    margin-top: -2em;
    border-style: solid;
    color: white;
    padding: 6px 8px;
    border-radius: 10px;
   
}




.titreSect{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    padding: 10px 30px;

}

.sec2{
    width: 100%;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cards img{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    width: 100% ;
    height: auto;
    border-radius: 16px;
}

.slide{
    margin: 50px 0px;
}

.titreCards{
    color: #000;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; 
    letter-spacing: 0.5px;
    text-transform: capitalize;
    display: flex;
    justify-content: start;
    padding-left: 15px;
}

.prix{
color: var(--light-colors-accent-light, #A18A68);
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
text-transform: capitalize;
display: flex;
justify-content: end;
margin: 15px;
margin-bottom: 30px;

}
.titreBUY {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 0.5rem;
}
.titreBUY a{
    height: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    background-color: #026802d2;
    border-radius: 14px;
    font-size: small;
    margin-right: 12px;
    
}

.about{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-left: 12px;
    font-weight: 500;
}
.P-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px 20px;
    font-weight: 500;
}

.des-about{
    padding-top: 2em;
    margin-bottom: 4em;
    padding-left: 1em;
}

.toptrand{
    color: var(--light-colors-black-light, #000);
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 35px;
padding-left: 1em;
}

.img1ABout{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 12px 10px;
    margin-bottom: 30px;

}
.img2ABout{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 12px 10px;
    margin-bottom: 30px;
}

.P2-about{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 12px 10px;
    margin-bottom: 10px;
}

.listabout{
    padding: 40px;
}

.titreProdu{
    font-family: DM Sans;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 35px;
padding-left: 15px;
}

.PargABOUT{
    padding-left: 10px;
    padding-bottom: 40px;
}

.secAbout{
   
}


footer{
    width: 100%;
    height: 10em;
    position: relative;
}

input[type=text], select {
    width: 30em;
    display: flex;
    border: 1.8px solid #000000;
    border-top: none;
    border-left: none;
    border-right:none;
    
}


.navfooter{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;

}

.navfooter .navf a{
justify-content: space-between;
text-decoration: none;
padding: 0px 20px;
color: #707070;
}

.navfooter .enteremail{
    display: flex;
    width: 22em;
    border-top: none;
    border-left: none;
    border-right:none;
    position: absolute;
    right: 10px;

}